<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="pluginListCommand" xsi:type="object">MagentoHackathon\PluginVisualization\Console\Command\ListCommand</item>
                <item name="pluginListGraphviz" xsi:type="object">MagentoHackathon\PluginVisualization\Console\Command\GraphvizCommand</item>
            </argument>
        </arguments>
    </type>
</config>
